/* Text color */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.btn-primary {
  background: #28a745;
  color: #fff;
}

.btn-secondary {
  background: #0284d0;
  color: #fff;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}
